* {
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  #about {
    margin: '1% 2% 8% 2%',
  }
}

@media only screen and (max-width: 1180px) {
  #aboutwhole {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
  }
}
